/* начало top_bar */

.top_bar{
}

.base {
  position: absolute;
  width: 1366px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #2AA9E6;
}

.menu {
  color: #3a0404;
  position: absolute;
  width: 247px;
  height: 18px;
  left: 73px;
  top: 7px;
}

.cont {
  position: absolute;
  width: 60px;
  height: 18px;
  left: 260px;
  top: 7px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;}

  .annonces {
    position: absolute;
    width: 47px;
    height: 18px;
    left: 202px;
    top: 7px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.event {
  position: absolute;
  width: 55px;
  height: 18px;
  left: 135px;
  top: 7px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.new {
  position: absolute;
  width: 53px;
  height: 18px;
  left: 73px;
  top: 7px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.signin_socials {
  position: absolute;
  width: 70px;
  height: 16px;
  left: 1222px;
  top: 8px;
}

.f {
  position: absolute;
  width: 10px;
  height: 16px;
  left: 1222px;
  top: 8px;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.t {
  position: absolute;
  width: 15px;
  height: 16px;
  left: 1247px;
  top: 8px;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.ins {
  position: absolute;
  width: 14px;
  height: 16px;
  left: 1278px;
  top: 8px;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.log_in{
  position: absolute;
  top: 0px;
  left: 1100px;
}

.btm{
  position: absolute;
  top: 5px;
  left: 1100px;
}

.sign_in{
  position: absolute;
  top: 0px;
  left: 1150px;
}





/* конец top_bar */
